article {
  background-color: #33CCFF;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  height: 20%;
  margin-left: 32%;
  margin-top: 5%;
  padding: 2rem;
  width: 30%;
}
footer {
  text-align: center;
}
h1 {
  text-align: center;
}
body {
  background-color: #C8C8C8
}
